# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/dictionaries/
.idea/hapi-l.iml
.idea/misc.xml
.idea/modules.xml
dist/
node_modules/
package-lock.json
.idea/vcs.xml
src/config.env
